<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="http://drive.google.com/uc?export=view&id=1GFKx8XAgq54uHof3E_FL-VsbgHraB25N" alt="kiwi">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> Backlog Proyect API</p>
  </body>
</html>
